body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
  background: #eee;
}

.example-table {
  background: white;
  width: 600px;
}

.example-table td,
.example-table th {
  background-color: #fff;
  border: 1px solid #ccc;
}


table tbody {
  pointer-events: unset !important;
}


.settings {
  padding-bottom: 20px;
}