body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
  background: #eee;
}

.example-table {
  background: white;
  width: 600px;

  border-left: 1px solid #cccc;
  border-top: 1px solid #cccc;

  tfoot td {
    border-top: 1px solid #cccc;
  }
}

.example-table td,
.example-table th {
  background-color: #ffff;  
  border-right: 1px solid #cccc;
  border-bottom: 1px solid #cccc;
}

.example-table .tr-odd td {
  background-color: #f3f3f3;
}

table tbody {
  pointer-events: unset !important;
}


.settings {
  padding-bottom: 20px;
}